*{
    box-sizing: border-box;
}
.App { 
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.col-1{
  width: 80%;
  display: flex;
  flex-wrap: wrap; 
  background-color: #e1e1e1;  
  height: 100vh;
}
.col-2{
  width: 20%;
  padding: 30px;
  background-color: #333;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}
.col{
  width: 33.33%;
  padding: 15px;
}
.col .cnt{
  background: #fff;
  text-align: center;
  padding: 15px;
}
.col .cnt img{
  height: 100px;
}
.col-cart{
  background: #fff;
  padding: 10px;
  margin: 10px 0;
}
.col-cart img{
  height: 50px;
}
.totalamount{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 15px;
}